.baner {
    margin-inline: 2rem;
}
.banerContainer{
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding: 2rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/*.row {
    height: 50rem;
}*/
.description-baner h1 {
    font-size: 4rem;
    line-height: 5.6rem;
    font-weight: 500;
    font-family: "FFShamelFamily-SansOneBold", sans-serif;
    color: #2d2f31;
    margin-bottom: 3rem;
    text-align: center;
}
.description-baner p {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bold;
    color: #2d2f31;
    text-align: center;
}

.imgBaner img {
    max-width: 20rem;
    max-height: 20rem;
    margin-bottom: 5rem !important;
    display: block;
    margin: 0 auto;
}
/*
@media (width > 995px) {
    .row {
        height: 40rem;
    }
}
    */

@media (width < 576px) {
  .description-baner h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;

  }
  .description-baner p {
        line-height: 3.5rem;
    }
  }

  @media (width < 512px) {
    .description-baner h1 {
      font-size: 2.5rem;
      line-height: 3.6rem;
      margin-bottom: 2.5rem;

    }
   
}
@media (width < 512px) {
    /*
    .row {
        height: 42rem;
    }
        */
    .description-baner h1 {
      font-size: 2rem;
      line-height: 3rem;
      margin-bottom: 1rem;
    }
    .description-baner p {
        line-height: 3rem;
        font-size: 1.5rem;
    }
}

