

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');


@font-face {
  font-family: "FFShamelFamily-SansOneBold";
  src: url(../src/assets/text/FFShamelFamily-SansOneBold.ttf);
}
*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0 ;
}
html {
  font-size: 10px;
}
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;

}